# Python
venv/
__pycache__/
*.pyc
*.pyo
build/
dist/
*.spec

# Data lokal
history.json
settings.json

# IDE
.vscode/
.idea/

# FFmpeg binary files (too large for GitHub)
ffmpeg/bin/*.dll
ffmpeg/bin/*.exe

# FFmpeg development files (dokumentasi, header C, library, preset)
ffmpeg/doc/
ffmpeg/include/
ffmpeg/lib/
ffmpeg/presets/

# OS
Thumbs.db
.DS_Store
